footer {
  // todo: use variables
  text-transform: uppercase;
  letter-spacing: .1rem;
  // end todo
  background: @bg-footer;
  width: 100%;
  padding: 80px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet {
    padding: 80px 7.5%;
  }

  @media @mobile {
    padding: 80px 12.5%;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 40px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 60%;

    margin-bottom: 40px;

    @media @tablet {
      width: 100%;
    }

    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    a {
      color: @font-color-button;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: @secondary;
      }

      @media @mobile {
        font-size: 2.4rem;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  button {
    .btn-cta-wide(@secondary, @white);
    @media @mobile {
      width: 80%;
    }
  }
}
