.footer {
  .navigation-links-uppercase();
  background: @bg-footer;
  width: 100%;
  padding: 110px 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 40px;
  }

  .footer-navigation-links {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin-bottom: 40px;

    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    .footer-navigation-link {
      color: @font-color-button;
      text-decoration: none;
      padding: 15px 20px;
      border-bottom: 1px solid @primary;

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid @secondary;
      }

      @media @tablet {
        padding: 15px 20px;
      }

      @media @mobile {
        padding: 15px 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  } // footer-navigation-links

  .footer-button-anchor {
    @media @mobile {
      width: 90%;
    }
  }

  .footer-button {
    .btn-cta-wide(@secondary, @primary, @secondary);
    color: @white;
    &:hover {
      color: @white;
      border-color: @white;
    }
    @media @mobile {
      width: 100%;
    }
  }

  .footer-copyright {
    padding: 0 20px;
    line-height: @line-height-content;
    color: @secondary;
    text-align: center;
    margin-top: 50px;
    a {
      text-decoration: none;
    }
  }

  .lambda {
    color: @dark-grey;
  }

  .white {
    color: @white;
  }

  @media @tablet {
    padding: 110px 7.5% 40px;
  }

  @media @mobile {
    padding: 80px 12.5% 40px;
  }
} // footer
