body {
  // overflow:hidden is used to have a clipped image
  // on the header image when on tablet view
  // source: https://stackoverflow.com/a/16671476/933941
  overflow: hidden;
  overflow-y: scroll;
  font-family: @font-content;
  font-size: @font-size-normal;
  line-height: @line-height-normal;
}

h1 {
  font-size: @font-size-big;
  font-weight: 300;
}

h2 {
  font-size: @font-size-big;
  font-weight: 300;
}

p {
  font-weight: 300;
  margin: 15px 0;
}
