.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid @border-section;

  h1 {
    line-height: @line-height-header-h1;

    @media @tablet {
      font-size: @font-size-big-responsive;
    }

    @media @mobile {
      margin-top: 40px;
      font-size: @font-size-big-responsive;
    }
  }

  p {
    font-size: @font-size-content;
    line-height: @line-height-normal;
    margin: 15px 0 20px 0;
    
    @media @desktop {
      line-height: @line-height-normal;
    }

    @media @tablet {
      font-size: @font-size-normal;
      line-height: @line-height-normal;
    }

    @media @mobile{
      margin: 40px 0;
      font-size: @font-size-content;
      line-height: @line-height-normal;
    }
  }

  .header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 0 130px 0;

    @media @tablet {
      padding: 50px 0 60px 0;
      justify-content: space-between;
    }

    @media @mobile {
      flex-direction: column-reverse;
    }
  }

  .header-description-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-description {

      @media @mobile {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .header-description-button-container {

      // join
      .header-description-join-anchor {

        @media @mobile {
          width: 80%;
        }
      }

      .header-description-join {
        .btn-cta-wide(@bg-button, @white, @bg-button);
      }
      
      // login
      .header-description-login-anchor {
        display: none;
        margin: 0 0 20px 0;

        @media @mobile {
          display: block;
          width: 80%;
        }
      }

      .header-description-login {
        .btn-cta-wide(@secondary, @white, @secondary);
      }

      @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  } // header-description-container

  .header-image {
    flex-basis: 50%;
    padding-left: 4.5%;

    @media @mobile {
      padding: 0;
    }
  }

  .header-image-img {
    max-width: 500px;
    
    @media (max-width: 600px) {
      max-width: 450px;
    }

    @media (max-width: 583px) {
      max-width: 400px;
    }
    
    @media @mobile {
      width: 100%;
      height: auto;
    }
  }
}
