.container {
  max-width: 960px;
  margin: 0 auto;

  @media @tablet {
    .tablet-margin();
  }
  @media @mobile {
    .mobile-margin();
  }
  @media @desktop {
    .desktop-margin();
  }
}

.content-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: @cream;
  padding: 120px 0;

  .image-straight {
    padding-right: 7.5%
  }

  .image-reverse {
    padding-left: 7.5%;
  }

  .content-text {
    width: 500px;

    @media @tablet {
      width: 100%;
    }
    @media @mobile {
      width: 100%;
    }
  }

  .content-image-img {
    width: 100%;
    height: auto;
  }
  @media @mobile {
    flex-direction: column;
    padding: 60px 0;
  }
} // content-panel

.reverse {
  flex-direction: row-reverse;
  background-color: @white;
  @media @mobile {
    flex-direction: column;
  }
}
