.btn-cta-normal(@bg-button, @font-color-button) {
  border: 1px solid @bg-button;
  background-color: @bg-button;
  color: @font-color-button;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
  font-size: @font-size-normal;
  cursor: pointer;

  &:hover {
    background-color: @font-color-button;
    color: @bg-button;
  }
}

.btn-cta-wide(@bg-button, @font-color-button) {
  border: 1px solid @bg-button;
  background-color: @bg-button;
  color: @font-color-button;
  border-radius: 20px;
  padding: 12px 10px;
  width: 180px;
  text-align: center;
  font-size: @font-size-normal;
  cursor: pointer;

  &:hover {
    background-color: @font-color-button;
    color: @bg-button;
  }
  @media @mobile {
    padding: 20px 10px;
    width: 100%;
  }
}

.desktop-margin() {
  margin: 0 4%;
}

.tablet-margin() {
  margin: 0 4%;
}

.mobile-margin() {
  margin: 0 4%;
}
