.responsive-margin() {
  margin: 0 4%;
}

.navigation-links-uppercase() {
  font-size: @font-size-nav-links;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  
  @media @tablet {
    font-size: @font-size-nav-links-small;
  }
  
  @media @mobile {
    font-size: @font-size-nav-links;
    letter-spacing: 0.3rem;
  }
}

.btn-cta-normal(@bg-button, @font-color-button, @border-button) {
  text-transform: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  border: 1px solid @border-button;
  background-color: @bg-button;
  color: @font-color-button;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: @font-color-button;
    color: @bg-button;
  }
}

.btn-cta-wide(@bg-button, @font-color-button, @border-button) {
  font-size: @font-size-normal;
  border: 1px solid @border-button;
  background-color: @bg-button;
  color: @font-color-button;
  border-radius: 20px;
  padding: 12px 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: @font-color-button;
    color: @bg-button;
  }

  @media @mobile {
    letter-spacing: .1rem;
    padding: 20px 10px;
    width: 100%;
  }
}