.navigation {
  .navigation-links-uppercase();
  margin: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  .navigation-logo {
    padding: 0 20px 0 0;
  }

  .navigation-logo-fixed {
    position: fixed;
    display: none;
    z-index: 1;
  }

  .navigation-logo-scroll {
    // background-color: @white;
    // padding: 0 30px;
    padding: 0 20px 10px 0;
    // padding-right: 20px;
    // padding-bottom: 7px;
    // border-radius: 20px;
    // opacity: 0.7;
    border-bottom: 1px solid @light-grey;
    border-right: 1px solid @light-grey;
    // -webkit-box-shadow: 0px 28px 72px -28px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 28px 72px -28px rgba(0,0,0,0.75);
    // box-shadow: 0px 28px 72px -5px rgba(0,0,0,0.75);
    // @media @mobile {
    //   display: none;
    // }
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation-link {
      color: @font-color-content;
      text-decoration: none;
      padding: 15px 20px;
      border-bottom: 1px solid @white;

      &:hover {
        // border-radius: 20px;
        // color: @white;
        // background-color: @primary;
        border-bottom: 1px solid @primary;
      }

      @media @mobile {
        display: none;
      }
    }
  } // .navigation-links

  .navigation-hamburger-button {
    display: none;
    @media @mobile {
      display: block;
    }
    .navigation-hamburger-button-img {
      width: 25px;
    }
  }

  .navigation-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media @mobile {
      display: none;
    }
    @media @tablet {
      display: none;
    }
    @media @desktop {
      display: none;
    }
    a {
      text-decoration: none;
    }

    .navigation-cta-login {
      width: 100px;
      text-align: center;
      color: @font-color-content;
      padding: 12px 20px;
      border: 1px solid @white;

      &:hover {
        color: @white;
        background-color: @secondary;
        border-radius: 20px;
      }
    }
    .navigation-cta-signup {
      width: 100px;
      .btn-cta-normal(@font-color-button, @bg-button, @bg-button);
    }
  } // .navigation-cta

  @media @tablet {
    flex-direction: column;
    align-items: center;
  }
  @media @mobile {
    margin: 5px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
} // .navigation

// MOBILE MENU
.navigation-links-mobile {
  display: none;
  top: 60px;
  width: 100%;
  position: absolute;
  margin: 0;
  flex-direction: column;

  .navigation-link-mobile {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 25px 0;
    border-bottom: 1px solid @white;
    color: @white;
    background-color: @primary;

    &:last-child {
      background-color: @danger;
      color: @white;
      &:hover {
        color: @danger;
      }
    }

    &:nth-last-child(2) {
      background-color: @secondary;
      color: @white;
      &:hover {
        color: @secondary;
      }
    }

    &:hover {
      background-color: @white;
      color: @primary;
    }
  }

  .navigation-link-mobile:last-child {
    border: none;
  }
} // navigation-links-mobile

.hidden-mobile-menu {
  display: flex;
  // bug fix: mobile menu toggle displaying an all viewports
  @media (min-width: 500px) {
    display: none;
  }
}

.rotate {
  transform: rotate(90deg);
}
