.navigation {
  margin: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  .navigation-logo {
    padding: 0 20px 0 0;
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation-link {
      color: @font-color-content;
      text-decoration: none;
      padding: 0 20px;
      @media @mobile {
        display: none;
      }
      @media @tablet {
        display: none;
      }
    }
  }

  .navigation-hamburger-button {
    display: none;
    @media @mobile {
      display: block;
    }
    @media @tablet {
      display: block;
    }
    .hide{
      display: none;
    }
    .display{
      background-color: red;
    }
    .close {
      display: none;
    }
  }

  .navigation-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media @mobile {
      display: none;
    }
    @media @tablet {
      display: none;
    }
    a {
      text-decoration: none;
    }
  }

  .navigation-cta-login {
    color: @font-color-content;
    padding: 0px 20px;
  }

  .navigation-cta-signup {
    .btn-cta-normal();
  }

  @media @mobile {
    margin: 0;
  }
}

.navigation-links-mobile {
  display: none;
}

.hidden-mobile-menu {
  display: flex;
}

.navigation-links-mobile {
  top: 60px;
  width: 100%;
  position: absolute;
  margin: 0;
  flex-direction: column;

  .navigation-link-mobile {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid @dark-grey;
    background-color: @primary;

    &:hover {
      background-color: @white;
      color: @primary
    }
  }

  .navigation-link-mobile:last-child {
    border: none;
  }
}