.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .navigation-logo {
    padding: 0px 20px;
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation-link {
      padding: 0 20px;
    }
  }

  .navigation-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navigation-cta-login {
    padding: 0px 20px;
  }

  .navigation-cta-signup {
    .btn-cta()
  }
}
