.team {
  padding: 60px 0;

  .team-title {
    text-align: center;
    & h2 {
      margin-bottom: 15px;
      @media @desktop {
        font-size: @font-size-big-responsive;
      }
      @media @tablet {
        font-size: @font-size-big-responsive;
      }
      @media @mobile {
        font-size: @font-size-big-responsive;
      }
    }
  }

  .team-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .team-card {
      // width: 300px;
      max-width: 280px;
      padding: 40px 60px;
      text-align: center;

      .team-member-title {
        margin: 0;
        font-weight: 400;
      }
      .team-member-name {
        margin: 0;
      }

      .team-img {
        border-radius: 50%;
        width: 100%;
        max-width: 140px;
        height: auto;
      }
      @media @tablet {
        padding: 30px 0;
        width: 50%;
      }
      @media @mobile {
        padding: 15px 30px;
        width: 50%;
      }
    }
  }
  @media @mobile {
    padding: 40px 0;
  }
}
