.team {

  .team-title {
    text-align: center;
  }

  .team-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .team-card {
      width: 250px;
      margin: 5px 20px;
      text-align: center;

      .team-member-title {
        //bold
        // import new font weight
      }

      .team-img {
        border-radius: 50%;
        width: 100%;
        max-width: 140px;
        height: auto;
      }
    }
  }
}
