// VARIABLES

// Fonts
@font-logo: "Pacifico", cursive;
@font-content: "Lato", sans-serif;

// Colors - Black and White Testing
@white: #ffffff;
@light-grey: #eee;
@dark-grey: #444444;
@gray: #6f6f6f;
@black: #212529;

// Color Palette
@primary: #2ec4b6;
@secondary: #586ba4;
@danger: #ff6b6b;

// Font sizes - Desktop Viewport
@font-size-big: 6.5rem;
@font-size-normal: 1.6rem;

// Font sizes - Readable Content
@font-size-content: 1.8rem;
@line-height-content: 1.5;

// Font sizes - Tablet & Mobile Viewport
@font-size-big-responsive: 4.8rem;

// Content assignments
@font-color-content: @black;
@bg-main: @white;
@bg-footer: @primary;

// Border assignments
@border-section: @light-grey;

// CTA button assignments
@font-color-button: @white;
@bg-button: @primary;

// Breakpoints
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 768px)";
@desktop: ~"(max-width: 960px)";
