// Fonts
@font-logo: 'Pacifico', cursive;
@font-content: 'Lato', sans-serif;

// Colors
@white: #FFFFFF;
@dark-grey: #444444;
@gray: #6F6F6F;
@black: #212529;

// Font sizes
@font-size-big: 6.5rem;
@font-size-medium: 3.2rem;
@font-size-normal: 1.8rem;

// Content assignments
@font-color-content: @black;
@bg-main:  @white;
@bg-footer: @dark-grey;

// CTA button assignments
@font-color-button: @white;
@bg-button: @black;

// Breakpoints
@mobile: ~"(min-width: 500px)";