* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
}
h1 {
  font-size: 6.5rem;
  font-weight: 300;
}
h2 {
  font-size: 6.5rem;
  font-weight: 300;
}
p {
  font-weight: 300;
  margin: 15px 0;
}
.header {
  display: flex;
  flex-direction: column;
}
.header .header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .header .header-main {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .header .header-main {
    flex-direction: column-reverse;
  }
}
.header .header-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header-description-container .header-description-joinnow {
  border: 1px solid #2ec4b6;
  background-color: #2ec4b6;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  font-size: 1.6rem;
}
.header .header-description-container .header-description-joinnow:hover {
  background-color: #ffffff;
  color: #2ec4b6;
}
@media (max-width: 768px) {
  .header .header-description-container h1 {
    font-size: 4.8rem;
    margin-bottom: 40px;
  }
  .header .header-description-container p {
    display: none;
  }
}
@media (max-width: 500px) {
  .header .header-description-container p {
    display: block;
  }
}
.header .header-image-img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .header .header-image-img {
    margin-left: 12.5%;
  }
}
@media (max-width: 500px) {
  .header .header-image-img {
    margin: 0 auto;
  }
}
.navigation {
  margin: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.navigation .navigation-logo {
  padding: 0 20px 0 0;
}
.navigation .navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation .navigation-links .navigation-link {
  color: #212529;
  text-decoration: none;
  padding: 0 20px;
}
@media (max-width: 500px) {
  .navigation .navigation-links .navigation-link {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigation .navigation-links .navigation-link {
    display: none;
  }
}
.navigation .navigation-hamburger-button {
  display: none;
}
@media (max-width: 500px) {
  .navigation .navigation-hamburger-button {
    display: block;
  }
}
@media (max-width: 768px) {
  .navigation .navigation-hamburger-button {
    display: block;
  }
}
.navigation .navigation-hamburger-button .hide {
  display: none;
}
.navigation .navigation-hamburger-button .display {
  background-color: red;
}
.navigation .navigation-hamburger-button .close {
  display: none;
}
.navigation .navigation-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .navigation .navigation-cta {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigation .navigation-cta {
    display: none;
  }
}
.navigation .navigation-cta a {
  text-decoration: none;
}
.navigation .navigation-cta-login {
  color: #212529;
  padding: 0px 20px;
}
.navigation .navigation-cta-signup {
  border: 1px solid #2ec4b6;
  background-color: #2ec4b6;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 10px;
  text-align: center;
  font-size: 1.6rem;
}
.navigation .navigation-cta-signup:hover {
  background-color: #ffffff;
  color: #2ec4b6;
}
@media (max-width: 500px) {
  .navigation {
    margin: 0;
  }
}
.navigation-links-mobile {
  display: none;
}
.hidden-mobile-menu {
  display: flex;
}
.navigation-links-mobile {
  top: 60px;
  width: 100%;
  position: absolute;
  margin: 0;
  flex-direction: column;
}
.navigation-links-mobile .navigation-link-mobile {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #444444;
  background-color: #2ec4b6;
}
.navigation-links-mobile .navigation-link-mobile:hover {
  background-color: #ffffff;
  color: #2ec4b6;
}
.navigation-links-mobile .navigation-link-mobile:last-child {
  border: none;
}
.team {
  margin: 60px 0;
}
@media (max-width: 500px) {
  .team {
    margin: 20px 12.5%;
  }
}
.team .team-title {
  text-align: center;
}
.team .team-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.team .team-cards .team-card {
  width: 250px;
  margin: 5px 20px;
  text-align: center;
}
.team .team-cards .team-card .team-member-title {
  margin: 0;
}
.team .team-cards .team-card .team-member-name {
  margin: 0;
}
.team .team-cards .team-card .team-img {
  border-radius: 50%;
  width: 100%;
  max-width: 140px;
  height: auto;
}
footer {
  background: #2ec4b6;
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  footer {
    padding: 80px 7.5%;
  }
}
@media (max-width: 500px) {
  footer {
    padding: 80px 12.5%;
  }
}
footer img {
  margin: 0 auto 40px;
  max-width: 500px;
  width: 100%;
}
footer nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  footer nav {
    width: 100%;
  }
}
@media (max-width: 500px) {
  footer nav {
    flex-direction: column;
    align-items: center;
  }
}
footer nav a {
  color: #ffffff;
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  footer nav a {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  footer nav a:last-of-type {
    margin-bottom: 0;
  }
}
footer button {
  border: 1px solid #586ba4;
  background-color: #586ba4;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  font-size: 1.6rem;
}
footer button:hover {
  background-color: #ffffff;
  color: #586ba4;
}
@media (max-width: 500px) {
  footer button {
    font-size: 2rem;
    padding: 24px 40px;
  }
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    margin: 0 7.5%;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 20px 12.5%;
  }
}
.content-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 60px 0;
}
@media (max-width: 768px) {
  .content-panel .image-straight {
    margin-left: 7.5%;
  }
  .content-panel .image-reverse {
    margin-right: 7.5%;
  }
}
@media (max-width: 500px) {
  .content-panel {
    flex-direction: column;
  }
  .content-panel .image-straight,
  .content-panel .image-reverse {
    margin: 0 auto;
  }
}
.content-panel .content-text {
  width: 500px;
}
@media (max-width: 768px) {
  .content-panel .content-text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content-panel .content-text {
    width: 100%;
  }
}
.content-panel .content-image-img {
  width: 100%;
  height: auto;
}
.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .reverse {
    flex-direction: column;
  }
}
