* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
}
h1 {
  font-size: 6.5rem;
  font-weight: 300;
}
h2 {
  font-size: 6.5rem;
  font-weight: 300;
}
p {
  font-weight: 300;
  margin: 15px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .container {
    margin: 0 4%;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 4%;
  }
}
@media (max-width: 500px) {
  .container {
    margin: 0 4%;
  }
}
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eee;
}
.header h1 {
  line-height: 1.1;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 500px) {
  .header h1 {
    margin-top: 30px;
    font-size: 4.8rem;
  }
}
.header .header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 0 100px 0;
}
@media (max-width: 768px) {
  .header .header-main {
    padding: 50px 0 60px 0;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .header .header-main {
    flex-direction: column-reverse;
  }
}
.header .header-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .header .header-description-container .header-description {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .header .header-description-container .header-description-button-container .header-description-joinnow-anchor {
    width: 80%;
  }
}
.header .header-description-container .header-description-button-container .header-description-joinnow {
  font-size: 1.6rem;
  border: 1px solid #2ec4b6;
  background-color: #2ec4b6;
  color: #ffffff;
  border-radius: 20px;
  padding: 12px 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}
.header .header-description-container .header-description-button-container .header-description-joinnow:hover {
  background-color: #ffffff;
  color: #2ec4b6;
}
@media (max-width: 500px) {
  .header .header-description-container .header-description-button-container .header-description-joinnow {
    padding: 20px 10px;
    width: 100%;
  }
}
.header .header-description-container .header-description-button-container .header-description-login-anchor {
  display: none;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .header .header-description-container .header-description-button-container .header-description-login-anchor {
    display: block;
    width: 80%;
  }
}
.header .header-description-container .header-description-button-container .header-description-login {
  font-size: 1.6rem;
  border: 1px solid #586ba4;
  background-color: #586ba4;
  color: #ffffff;
  border-radius: 20px;
  padding: 12px 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}
.header .header-description-container .header-description-button-container .header-description-login:hover {
  background-color: #ffffff;
  color: #586ba4;
}
@media (max-width: 500px) {
  .header .header-description-container .header-description-button-container .header-description-login {
    padding: 20px 10px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header .header-description-container .header-description-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.header .header-image-img {
  width: 550px;
  padding-left: 12.5%;
}
@media (max-width: 960px) {
  .header .header-image-img {
    width: 550px;
    padding-left: 4.5%;
  }
}
@media (max-width: 768px) {
  .header .header-image-img {
    width: 550px;
    padding-left: 4.5%;
  }
}
@media (max-width: 600px) {
  .header .header-image-img {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .header .header-image-img {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.navigation {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.navigation .navigation-logo {
  padding: 0 20px 0 0;
}
.navigation .navigation-logo-fixed {
  position: fixed;
  display: none;
  z-index: 1;
}
.navigation .navigation-logo-scroll {
  padding: 0 20px 7px 0;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.navigation .navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation .navigation-links .navigation-link {
  color: #212529;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: 1px solid #ffffff;
}
.navigation .navigation-links .navigation-link:hover {
  border-bottom: 1px solid #2ec4b6;
}
@media (max-width: 500px) {
  .navigation .navigation-links .navigation-link {
    display: none;
  }
}
.navigation .navigation-hamburger-button {
  display: none;
}
@media (max-width: 500px) {
  .navigation .navigation-hamburger-button {
    display: block;
  }
}
.navigation .navigation-hamburger-button .navigation-hamburger-button-img {
  width: 25px;
}
.navigation .navigation-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .navigation .navigation-cta {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigation .navigation-cta {
    display: none;
  }
}
@media (max-width: 960px) {
  .navigation .navigation-cta {
    display: none;
  }
}
.navigation .navigation-cta a {
  text-decoration: none;
}
.navigation .navigation-cta .navigation-cta-login {
  width: 100px;
  text-align: center;
  color: #212529;
  padding: 12px 20px;
  border: 1px solid #ffffff;
}
.navigation .navigation-cta .navigation-cta-login:hover {
  color: #ffffff;
  background-color: #586ba4;
  border-radius: 20px;
}
.navigation .navigation-cta .navigation-cta-signup {
  width: 100px;
  text-transform: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  border: 1px solid #2ec4b6;
  background-color: #ffffff;
  color: #2ec4b6;
  border-radius: 20px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
}
.navigation .navigation-cta .navigation-cta-signup:hover {
  background-color: #2ec4b6;
  color: #ffffff;
}
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .navigation {
    margin: 5px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
.navigation-links-mobile {
  display: none;
  top: 60px;
  width: 100%;
  position: absolute;
  margin: 0;
  flex-direction: column;
}
.navigation-links-mobile .navigation-link-mobile {
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background-color: #2ec4b6;
}
.navigation-links-mobile .navigation-link-mobile:last-child {
  background-color: #ff6b6b;
  color: #ffffff;
}
.navigation-links-mobile .navigation-link-mobile:last-child:hover {
  color: #ff6b6b;
}
.navigation-links-mobile .navigation-link-mobile:nth-last-child(2) {
  background-color: #586ba4;
  color: #ffffff;
}
.navigation-links-mobile .navigation-link-mobile:nth-last-child(2):hover {
  color: #586ba4;
}
.navigation-links-mobile .navigation-link-mobile:hover {
  background-color: #ffffff;
  color: #2ec4b6;
}
.navigation-links-mobile .navigation-link-mobile:last-child {
  border: none;
}
.hidden-mobile-menu {
  display: flex;
}
@media (min-width: 500px) {
  .hidden-mobile-menu {
    display: none;
  }
}
.rotate {
  transform: rotate(90deg);
}
.content-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 150px 0;
  border-bottom: 1px solid #eee;
  font-size: 1.8rem;
  line-height: 1.5;
}
@media (max-width: 960px) {
  .content-panel h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .content-panel h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 500px) {
  .content-panel h2 {
    font-size: 4.8rem;
  }
}
.content-panel .image-straight {
  padding-right: 7.5%;
}
.content-panel .image-reverse {
  padding-left: 7.5%;
}
.content-panel .content-text {
  width: 500px;
}
@media (max-width: 768px) {
  .content-panel .content-text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content-panel .content-text {
    width: 100%;
  }
}
.content-panel .content-image-img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .content-panel {
    flex-direction: column;
    padding: 60px 0;
  }
}
.reverse {
  flex-direction: row-reverse;
  background-color: #ffffff;
}
@media (max-width: 500px) {
  .reverse {
    flex-direction: column;
  }
}
.team {
  padding: 120px 0;
}
.team .team-title {
  text-align: center;
}
.team .team-title h2 {
  margin-bottom: 15px;
}
@media (max-width: 960px) {
  .team .team-title h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .team .team-title h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 500px) {
  .team .team-title h2 {
    font-size: 4.8rem;
  }
}
.team .team-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.team .team-cards .team-card-link {
  color: #212529;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.team .team-cards .team-card-link:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .team .team-cards .team-card-link {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .team .team-cards .team-card-link {
    padding: 15px 30px;
    width: 50%;
  }
}
.team .team-cards .team-card .team-member-title {
  margin: 0;
  font-weight: 400;
}
.team .team-cards .team-card .team-member-name {
  margin: 0;
}
.team .team-cards .team-card .team-image {
  position: relative;
}
.team .team-cards .team-card .overlay {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  clip-path: circle(50% at 50% 50%);
  background-color: hsla(174.4, 61.98347107%, 47.45098039%, 0.6);
}
.team .team-cards .team-card:hover .overlay {
  opacity: 1;
}
.team .team-cards .team-card .text {
  color: #212529;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.team .team-cards .team-card .text .github-icon {
  width: 100%;
}
.team .team-cards .team-card .team-img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 3px solid #2ec4b6;
}
@media (max-width: 960px) {
  .team {
    padding: 80px 0;
  }
}
@media (max-width: 500px) {
  .team {
    padding: 70px 0;
  }
}
.footer {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #2ec4b6;
  width: 100%;
  padding: 140px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .footer {
    padding: 80px 7.5%;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 80px 12.5%;
  }
}
.footer .footer-img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 40px;
}
.footer .footer-navigation-links {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .footer .footer-navigation-links {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footer-navigation-links .footer-navigation-link {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: 1px solid #2ec4b6;
}
.footer .footer-navigation-links .footer-navigation-link:hover {
  text-decoration: none;
  border-bottom: 1px solid #586ba4;
}
@media (max-width: 768px) {
  .footer .footer-navigation-links .footer-navigation-link {
    padding: 15px 20px;
  }
}
@media (max-width: 500px) {
  .footer .footer-navigation-links .footer-navigation-link {
    padding: 15px 20px;
  }
  .footer .footer-navigation-links .footer-navigation-link:last-of-type {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .footer .footer-button-anchor {
    width: 90%;
  }
}
.footer .footer-button {
  font-size: 1.6rem;
  border: 1px solid #586ba4;
  background-color: #586ba4;
  color: #2ec4b6;
  border-radius: 20px;
  padding: 12px 10px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.footer .footer-button:hover {
  background-color: #2ec4b6;
  color: #586ba4;
}
@media (max-width: 500px) {
  .footer .footer-button {
    padding: 20px 10px;
    width: 100%;
  }
}
.footer .footer-button:hover {
  color: #ffffff;
  border-color: #ffffff;
}
@media (max-width: 500px) {
  .footer .footer-button {
    width: 100%;
  }
}
.footer .footer-copyright {
  color: #586ba4;
  text-align: center;
  margin-top: 50px;
}
.footer .footer-copyright a {
  text-decoration: none;
}
.footer .lambda {
  color: #444444;
}
.footer .white {
  color: #ffffff;
}
